Node-RED.json
[
    {
        "id": "befc95e9a707710a",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84161ea5d53f207d",
        "type": "mqtt in",
        "z": "befc95e9a707710a",
        "name": "Sensor Data",
        "topic": "esp32/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "7f5b133f1e27db16",
                "5ba82a674ed24d7a",
                "30b4b8b1a38b8110",
                "1a6e32c05556536f",
                "c5e237d086e9192c",
                "b64a8cfe9ecb9967",
                "5a2a952432c03803",
                "8b973af6fbf175af",
                "a6c9229feca953f8"
            ]
        ]
    },
    {
        "id": "7f5b133f1e27db16",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Temperature",
        "func": "return { payload: msg.payload.Temp };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "c5d30904284ffe32"
            ]
        ]
    },
    {
        "id": "c5d30904284ffe32",
        "type": "ui_gauge",
        "z": "befc95e9a707710a",
        "name": "Temp Gauge",
        "group": "a6148ac5c5c1b48c",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e600c7",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "5ba82a674ed24d7a",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Humidity",
        "func": "return { payload: msg.payload.Hum };",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "7fb74893cf40c6a7"
            ]
        ]
    },
    {
        "id": "7fb74893cf40c6a7",
        "type": "ui_gauge",
        "z": "befc95e9a707710a",
        "name": "Humidity Gauge",
        "group": "a6148ac5c5c1b48c",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "30b4b8b1a38b8110",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Accel X",
        "func": "return { payload: msg.payload.AcX };",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "1c60b87f769eeb30"
            ]
        ]
    },
    {
        "id": "1c60b87f769eeb30",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Acceleration X",
        "group": "a15bc3bb5d1f0255",
        "order": 3,
        "width": 6,
        "height": 3,
        "label": "Accel X (g)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1a6e32c05556536f",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Gyro Z",
        "func": "return { payload: msg.payload.GyZ };",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "4752a132e25d0626"
            ]
        ]
    },
    {
        "id": "4752a132e25d0626",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Gyroscope Z",
        "group": "421aaf37cef1de60",
        "order": 4,
        "width": 6,
        "height": 3,
        "label": "Gyro Z (°/s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c5e237d086e9192c",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Accel Y",
        "func": "return { payload: msg.payload.AcY };",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "4c174c7603dd9ad2"
            ]
        ]
    },
    {
        "id": "4c174c7603dd9ad2",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Acceleration Y",
        "group": "a15bc3bb5d1f0255",
        "order": 7,
        "width": 6,
        "height": 3,
        "label": "Accel Y (g)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b64a8cfe9ecb9967",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Accel Z",
        "func": "return { payload: msg.payload.AcZ };",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b05f6afd9d7eaeaf"
            ]
        ]
    },
    {
        "id": "b05f6afd9d7eaeaf",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Acceleration Z",
        "group": "a15bc3bb5d1f0255",
        "order": 8,
        "width": 6,
        "height": 3,
        "label": "Accel Z (g)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5a2a952432c03803",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Gyro X",
        "func": "return { payload: msg.payload.GyX };",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a07d5cc41c7713d2"
            ]
        ]
    },
    {
        "id": "a07d5cc41c7713d2",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Gyroscope X",
        "group": "421aaf37cef1de60",
        "order": 9,
        "width": 6,
        "height": 3,
        "label": "Gyro X (°/s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8b973af6fbf175af",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Gyro Y",
        "func": "return { payload: msg.payload.GyY };",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "4387c8b5389c4e80"
            ]
        ]
    },
    {
        "id": "4387c8b5389c4e80",
        "type": "ui_chart",
        "z": "befc95e9a707710a",
        "name": "Gyroscope Y",
        "group": "421aaf37cef1de60",
        "order": 10,
        "width": 6,
        "height": 3,
        "label": "Gyro Y (°/s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#8c564b",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "deep_sleep_mqtt",
        "type": "mqtt in",
        "z": "befc95e9a707710a",
        "name": "Deep Sleep State",
        "topic": "esp32/deepsleep",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 400,
        "wires": [
            [
                "aa5d039261d08d21"
            ]
        ]
    },
    {
        "id": "aa5d039261d08d21",
        "type": "ui_text",
        "z": "befc95e9a707710a",
        "group": "aa8ddafe6c0d6db5",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "Deep Sleep Mode",
        "label": "Deep Sleep Button",
        "format": "{{msg.payload.includes('ENTERING') ? 'Pressed (Sleep Mode)' : msg.payload.includes('WOKE') ? 'Released (Woke Up)' : 'Released (Active)'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "7e2bdafc89eb3fdf",
        "type": "ui_led",
        "z": "befc95e9a707710a",
        "order": 12,
        "group": "aa8ddafe6c0d6db5",
        "width": 2,
        "height": 1,
        "label": "LED State",
        "colorForValue": [
            {
                "color": "#04ff00",
                "value": "true",
                "valueType": "str"
            },
            {
                "color": "#edf2ed",
                "value": "false",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Status",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "0b40e7255d764e9e",
        "type": "ui_led",
        "z": "befc95e9a707710a",
        "order": 13,
        "group": "aa8ddafe6c0d6db5",
        "width": 2,
        "height": 1,
        "label": "Alert",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "str"
            },
            {
                "color": "#bababa",
                "value": "false",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Alert",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "e7d65cce17d2e963",
        "type": "function",
        "z": "befc95e9a707710a",
        "name": "Process State Data",
        "func": "const data = msg.payload;\nconst boolToStr = (val) => val ? 'true' : 'false';\n\nreturn [\n    { payload: boolToStr(data.state.led), topic: \"led\" },\n    { payload: boolToStr(data.state.climateAlert), topic: \"alert\" },\n    { payload: { alertReason: data.state.reason || \"No data\" }, topic: \"reason\" }\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            [
                "7e2bdafc89eb3fdf",
                "debug_after_processing"
            ],
            [
                "0b40e7255d764e9e",
                "debug_after_processing"
            ],
            [
                "68608e58096f3b1b",
                "debug_after_processing"
            ]
        ]
    },
    {
        "id": "34f3bd3f195c2a1d",
        "type": "mqtt in",
        "z": "befc95e9a707710a",
        "name": "ESP32 State",
        "topic": "esp32/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "e7d65cce17d2e963"
            ]
        ]
    },
    {
        "id": "68608e58096f3b1b",
        "type": "ui_text",
        "z": "befc95e9a707710a",
        "group": "aa8ddafe6c0d6db5",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "Alert Reason",
        "label": "Alert Reason",
        "format": "{{msg.payload.alertReason}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "14px",
        "color": "#000000",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "debug_after_processing",
        "type": "debug",
        "z": "befc95e9a707710a",
        "name": "Debug Processed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "a6c9229feca953f8",
        "type": "debug",
        "z": "befc95e9a707710a",
        "name": "Full Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "192.168.0.127",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a6148ac5c5c1b48c",
        "type": "ui_group",
        "name": "DHT Data",
        "tab": "1caff58b0a1a0c73",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a15bc3bb5d1f0255",
        "type": "ui_group",
        "name": "MPU6050 - Accel",
        "tab": "1caff58b0a1a0c73",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "421aaf37cef1de60",
        "type": "ui_group",
        "name": "MPU6050 - Gyro",
        "tab": "1caff58b0a1a0c73",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa8ddafe6c0d6db5",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "1caff58b0a1a0c73",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1caff58b0a1a0c73",
        "type": "ui_tab",
        "name": "Main Dashboard",
        "icon": "dashboard",
        "order": 32,
        "disabled": false,
        "hidden": false
    }
]
